:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/2154/sky-lights-space-dark.jpg?auto=compress&cs=tinysrgb&h=750&w=1260');
  color: whitesmoke;
}

form {
  max-width: 320px;
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}

input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  color: white;
  border: 1px solid darkgray;
  background-color: rgba(128, 128, 128, 0.6);
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 255, 0.6);
  color: white;
  cursor: pointer;
}